<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title >JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="${user.firstName}">
            Dear
        </p>
        
        <div th:if="${user.isDownloadOrLogin} == false">
           <p th:text="#{email.activation.text1}" >
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
          </p>
              <p th:text="${user.webURL}"></p>
            <div>Username :  <span th:text="${user.login}"></span></div>
            <div>Password :   <span th:text="${user.passwrd}"></span></div> 

        <p>
            <a th:href="${url}"
            th:text="${url}">Activation link</a>
        </p>
        </div>
        
         <div th:if="${user.isDownloadOrLogin}">
           <p th:text="#{email.activation.emp}" >
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
          </p>
              <p th:text="${user.webURL}"></p>
            
        
        </div>
        <p>
            <span >Regards, </span>
            <br/>
            <em >ArrivNow</em>
        </p>
    </body>
</html>
