<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{${task[0].titleKey}}">Task Reminder</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p >
            Dear <span th:text="${task[0].toName}"> </span>,
        </p>
        
        <p>
        The following tasks(s) is/are now overdue:
        <p th:each="tsk : ${task}"  >
           Title       :  <span th:text="${tsk.taskTitle}"></span>
           Description :  <span th:text="${tsk.description}"></span>
           Due Date    :  <span th:text="${tsk.dueDate}"></span>
           Assigned By :  <span th:text="${tsk.assignedBy}"></span>
          
        </p>
        </p>
        
         <p>
         Please click on the URL below to login:
            <a th:with="url=(@{|http://13.234.25.81/login|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
           
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
