<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{${task.titleKey}}">Task Update</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p >
            Dear <span th:text="${task.toName}"> </span>,
        </p>
        
        <p th:text="${task.taskModifyData}">
        </p>
         <p>
         Please click on the URL below to login:
            <a th:with="url=(@{|http://13.234.25.81/login|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
           
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
