<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.travel.request}">New Task Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="${task.toName}">
            Dear
        </p>
        A travel request raised with following information.
        <p >
         <b> Raised By  :</b>       <span th:text="${task.name}"></span><br>
          <b> Title  :</b>          <span th:text="${task.taskTitle}"></span><br>
		  <b>Departure Location :</b>  <span th:text="${task.depratureLocation}"> </span> <br>
		  <b>Departure Date :</b>  <span th:text="${task.depratureDate}"> </span> <br>
		  <b>Return Location :</b> <span th:text="${task.retrunLocation}"> </span><br>
		  <b>Return Date  :</b> <span th:text="${task.returnDate}"> </span><br>
		  <b>Travel Cost :(₹)</b> <span th:text="${task.travelCost}"> </span><br>
		  <b>Hotel Cost :(₹)</b> <span th:text="${task.hotelCost}"> </span><br>
		  
           <b th:if="${task.bookingDone}"> Flight Booking Price :(₹)</b>   <span th:if="${task.bookingDone}" th:text="${task.bookingPrice}"> </span><br>
           <b th:if="${task.bookingDone}"> Hotel Booking Price :(₹)</b>   <span th:if="${task.bookingDone}" th:text="${task.hotelBookginPrice}"> </span><br>
           <b th:if="${task.bookingDone}"> Remarks : </b>   <span th:if="${task.bookingDone}" th:text="${task.remarks}"> </span><br>
        
   
        </p>
        Exceptions:
        <p th:each="tsk : ${task.ExceptionList}"  >
        
           <span th:text="${tsk}"></span>
        </p>
         <p>
         please click on the URL below to login:
            <a th:with="url=(@{|http://13.234.25.81/login|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
           
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
